.quote-box {
    width: 80%;
    max-width: 900px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 25px;
    margin: 10px;
    border-radius: 25px;
    border: #B36C75 solid;
}

.tweet-icono {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 5px;
    color: #44735C;
}

