.quote-box {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B36C75;
    padding: 35px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 25px;
    border: #FFF solid;
}

.tweet-icono {
    position: fixed;
    bottom: 1.1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    margin: 5px;
    color: #B36C75;
}
