*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #96CBAF;
  background-image: radial-gradient(#44735C 3px, transparent 3px);
  background-size: 50px 50px;
}

